version: '3.8'

services:
  app:
    container_name: sap-middleware
    build: .
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - NODE_ENV=production
    env_file:
      - .env
    restart: always
